
.quarto/_freeze/P1/execute-results/html.json
.quarto/_freeze/P2/execute-results/html.json
.quarto/_freeze/P2/figure-html/unnamed-chunk-7-1.png
.quarto/_freeze/P2/figure-html/unnamed-chunk-8-1.png
.quarto/_freeze/P3/execute-results/html.json
.quarto/_freeze/P3/figure-html/unnamed-chunk-5-1.png
.quarto/_freeze/P3/figure-html/unnamed-chunk-5-2.png
.quarto/_freeze/P3/figure-html/unnamed-chunk-5-3.png
.quarto/_freeze/P4/execute-results/html.json
.quarto/_freeze/P4/figure-html/unnamed-chunk-21-1.png
.quarto/_freeze/P4/figure-html/unnamed-chunk-22-1.png
.quarto/_freeze/P4/figure-html/unnamed-chunk-22-2.png
.quarto/_freeze/P4/figure-html/unnamed-chunk-22-3.png
.quarto/_freeze/P4/figure-html/unnamed-chunk-25-1.png
.quarto/_freeze/site_libs/clipboard/clipboard.min.js
.quarto/idx/about.qmd.json
.quarto/idx/equipo.qmd.json
.quarto/idx/index.qmd.json
.quarto/idx/instala.qmd.json
.quarto/xref/34c3cdf3
.quarto/xref/433a6a9d
.quarto/xref/4d981c57
.quarto/xref/56407bb9
.quarto/xref/77fd85df
.quarto/xref/a74d71f9
.quarto/xref/b3ee89fc
.quarto/xref/ea3d0d11
.quarto/xref/INDEX
*.json
.Rproj.user/52B9D855/pcs/files-pane.pper
.Rproj.user/52B9D855/pcs/source-pane.pper
.Rproj.user/52B9D855/pcs/windowlayoutstate.pper
.Rproj.user/52B9D855/pcs/workbench-pane.pper
.Rproj.user/52B9D855/sources/prop/22E18A66
.Rproj.user/52B9D855/sources/prop/B6363236
.Rproj.user/52B9D855/sources/prop/C9EB187D
.Rproj.user/52B9D855/sources/prop/EFC32381
.Rproj.user/52B9D855/sources/prop/F860A721
.Rproj.user/52B9D855/sources/prop/INDEX
.Rproj.user/52B9D855/sources/session-333ba1a5/0CE02035
.Rproj.user/52B9D855/sources/session-333ba1a5/0CE02035-contents
.Rproj.user/52B9D855/sources/session-333ba1a5/3067785E
.Rproj.user/52B9D855/sources/session-333ba1a5/3067785E-contents
.Rproj.user/52B9D855/sources/session-333ba1a5/527D219C-contents
.Rproj.user/52B9D855/sources/session-333ba1a5/98486229
.Rproj.user/52B9D855/sources/session-333ba1a5/98486229-contents
.Rproj.user/52B9D855/sources/session-333ba1a5/C56B9840
.Rproj.user/52B9D855/sources/session-333ba1a5/C56B9840-contents
.Rproj.user/52B9D855/sources/session-333ba1a5/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.DS_Store
~$CSIII_AE.docx
